<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hzc.widget">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".picker.file.FilePickerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified"
            android:configChanges="keyboardHidden|orientation" />
    </application>
</manifest>
